<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Jaclyn Ramkissoon's Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<i class="fa fa-times menu-close"></i>
			<a href="#home" class="smoothScroll"><h3>Home</h3></a>
			<a href="#about" class="smoothScroll">About</a>
			<a href="#portfolio" class="smoothScroll">Portfolio</a>
			<a href="#services" class="smoothScroll">Services</a>
            <a href="#twitter" class="smoothScroll">Twitter</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="https://www.facebook.com/jaclyn.ramkissoon"><i class="fa fa-facebook"></i></a>
			<a href="#contact"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>JACLYN RAMKISSOON</h1>
				</div>
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/headerwrap -->
	
	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<img class="img-responsive" src="/img/about.jpg">
					<p>JACLYN RAMKISSOON</p>
					<div class="name-label"></div>
				</div><! --/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2>STUDENT JOURNALIST & <br/>GRAPHIC DESIGNER</h2>
					<div class="name-zig"></div>
					
					<div class="col-md-6">
						<p>I was born in New York and raised in Georgia. Since then, I've attended the third highest ranked high schools in the nation by U.S. News, and have started my undergrad in Mercer University's journalism program.</p>
						<p>I will be graduating in spring of 2017 with a B. A. in journlism and a minor in graphic design. I plan to pursue a career in print journalism.</p>
					</div>
					<div class="col-md-6">
						<p>I am currently a staff writer on Mercer's chapter of Her Campus. Hobbies include music, art, and not being tall enough to reach things.</p>
						<p>I am a hard-worker and pride myself on working to the best of my abilities.</p>
					</div>
					
				</div><! --/col-lg-8-->
		
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->
	
	<! -- ABOUT SEPARATOR -->
	<div class="sep about" data-stellar-background-ratio="0.5"></div>
	
	<! -- PORTFOLIO SECTION -->
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row">
				<h1>SOME OF MY LATEST WORKS</h1>
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="http://www.hercampus.com/author/jaclyn-ramkissoon"><img class="img-responsive" src="/img/portfolio/port04.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
                        <p style="text-align: center;">Explore works I have published on HerCampus.com/Mercer</p>
	                </div>
				</div><!-- col-lg-4 -->
                
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                            	<video width="335" height="255" controls>
                                      <source src="/img/video1.mov" type="video/mov">
                                      <source src="/img/video1.mov" type="video/ogg">
                                    Your browser does not support the video tag.
                                    </video>
                            <p style="text-align: center;">A video project I made featuring my friends Sarah Njoku and Erik Sylvain.</p>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="https://www.flickr.com/photos/129120432@N08/sets/72157649196106630/"><img class="img-responsive" src="/img/portfolio/port05.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
                        <p style="text-align: center;">Includes CD Covers, Business Cards, and other creative endeavors.</p>
	                </div>
				</div><!-- col-lg-4 -->

			</div><!-- /row -->
            
            <hr>
            
            <div class="row">
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="https://www.flickr.com/photos/129120432@N08/sets/72157649610557825/"><img class="img-responsive" src="/img/portfolio/port06.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
                        <p style="text-align: center;">Click above for even more photos.</p>
	                </div>
				</div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="/img/portfolio/pic1.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="/img/portfolio/pic4.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
                
			</div><!-- /row -->
				
			</div><!-- /row -->
		</div><! --/container -->
	
	</div><! --/Portfoliowrap -->

	<! -- PORTFOLIO SEPARATOR -->
	<div class="sep portfolio" data-stellar-background-ratio="0.5"></div>
	
	
	<! -- SERVICE SECTION -->
	<section id="services" name="services"></section>
	<div id="servicewrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8-offset-2 centered">
					<h1>AN OVERVIEW OF MY SERVICES</h1>
                    
				</div><!-- /col-lg-8 -->
			</div><! --/row -->
			
			<div class="row mt centered">
                
				<div class="col-lg-3 service">
					<i class="fa fa-star"></i><p>HTML & CSS<br/></p>
					<p class="text">Building the basics of a website.</p>
				</div>
                
				<div class="col-lg-3 service">
					<i class="fa fa-cloud"></i><p>ADOBE INDESIGN, ILLUSTRATOR, & PHOTOSHOP<br/></p>
					<p class="text">For all of your graphic design needs. Logos, business cards, letterheads, envelopes.</p>
				</div>
                
                <div class="col-lg-3 service">
					<i class="fa fa-star"></i><p>SOCIAL MEDIA<br/></p>
					<p class="text">I am able to use social media sites such as Facebook, Tumblr, and Wordpress to the best of their abilities</p>
				</div>
                
                <div class="col-lg-3 service">
					<i class="fa fa-thumbs-up"></i><p>100% SATISFACTION<br/></p>
					<p class="text">Your opinion is my number one priority.</p>
				</div>
				
			</div><! --/row -->
			
		</div><! --/container -->
	</div><! --/servicewrap -->
    
    <! -- SKILLS SEPARATOR -->
	<div class="sep skills" data-stellar-background-ratio="0.5"></div>
	
    <section id="twitter" name="twitter"></section>
	<div id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 mt">
				
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					   <div class="carousel-inner">
					    <div class="item active mb centered">
                            
                            <div class="item mb centered">
					      <h3>TWITTER</h3>
					      <h4>In this section, I have used Ruby to import tweets from, to, and about Beyoncé. The first number is the retweet count, next omes the user screen name, and last is the actual text of the tweet.</h4>
					    </div>
                            </div>
                            
                           <div class="item mb centered">
                            <h3>EXAMPLE 1</h3>
                            <h4 style="text-align: center;">These are recent tweets from Beyoncé.</h4>
					     <% @search_results.each do |tweet| %>
                            
                    <p><%= tweet.retweet_count %>: <a href=""><%= tweet.user.screen_name %></a><%= tweet.text %></p>
                           <% end %> 
                               </div>

					    <div class="item mb centered">
					      <h3>EXAMPLE 2</h3>
					      <h4>These are recent tweets to Beyoncé.</h4>
                            <% @search_results2.each do |tweet| %>
                            
                    <p><%= tweet.retweet_count %>: <a href=""><%= tweet.user.screen_name %></a><%= tweet.text %></p>
                           <% end %> 
					    </div>
                    
                    <div class="item mb centered">
					      <h3>EXAMPLE 3</h3>
					      <h4>These are recent tweets with the hashtag Beyoncé.</h4>
                        <% @search_results3.each do |tweet| %>
                            
                    <p><%= tweet.retweet_count %>: <a href=""><%= tweet.user.screen_name %></a><%= tweet.text %></p>
                           <% end %> 
					    </div>

                    </div>
                        
                    
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
					  </ol>
					</div>
					  
				</div><! --/col-lg-8 -->
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/testimonials -->
	
	<! -- SERVICE SECTION -->
	<section id="contact" name="contact"></section>
	<! -- CONTACT SEPARATOR -->
	<div class="sep contact" data-stellar-background-ratio="0.5"></div>
	
	<div id="contactwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p>CONTACT ME</p>
					<p>For business inquiries, or if you just want to talk.</p>
					<p>
						<small>1810 Winship Street, Apartment 7<br/>
						Macon, Georgia 31204<br/>
						USA.</small>
					</p>
					<p>
						<small>Tel. 678-770-5409<br/>
						Mail. jaclyn.ashley.ramkissoon@live.mercer.edu<br/>
					</p>
			
				</div>
				
				<div class="col-lg-6">
					<form role="form">
					  <div class="form-group">
					    <label for="exampleInputName1">Your Name</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					    <label for="exampleInputText1">Message</label>
					    <textarea class="form-control" rows="3"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			
			</div><! --/row -->
		</div><!-- /container -->
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/classie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/fancybox/jquery.fancybox.js"></script>    
	<script src="/js/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>

  </body>
</html>
